{% extends 'layout.twig' %}

{% block content %} 
    <table id="example" class="display" style="width:100%">
        
            <caption align="top">Матеріальні цінності ХПТК ОНПУ
                    <form action="{{path('admin.add')}}"><button type="submit" class="btn btn-primary">Додати</button></form>
            </caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Інвентарний номер</th>
                    <th>Користувач</th>
                    <th>Постачальник</th>
                    <th>Номер кабінету</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id_item }}</td>
                        <td>{{ item.inv_num }}</td>
                        <td>{{ item.user_name }}</td>
                        <td>{{ item.name_provider }}</td>
                        <td>{{ item.num_cab }}</td>
                        <td>
                            <form method="get" action="{{path('admin.view')}}">  
                                <input type="hidden" name="id_item" value="{{ item.id_item }}">
                                <input type="submit" value="Детальніше" class="btn">
                            </form>
                        </td>
                        <td>
                            <form method="get" action="{{path('admin.update')}}">
                                <input type="hidden" name="id_item" value="{{ item.id_item }}">
                                <input type="submit" value="Редагувати" class="btn btn-warning">
                            </form>
                        </td>
                        <td>
                            <form onsubmit="Del(this);
                                    return false;" method="post" action="{{path('admin.delete')}}">
                                <input type="hidden" name="id_item" value="{{ item.id_item }}">
                                <input type="submit" value="Видалити" class="btn btn-danger">       
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Інвентарний номер</th>
                    <th>Користувач</th>
                    <th>Постачальник</th>
                    <th>Номер кабінету</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
    </table>       
    <script>
        function Del(f) {
            if (confirm("Дійсно бажаєте видалити мат. цінність?"))
                f.submit();
        }
    </script>
{% endblock %}		


