{% extends 'layout.twig' %}

{% block content %} 
    <form method="post" action="{{path('add')}}" class="form-inline">

        <fieldset>
            <legend>Редагування</legend>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        {% for matworth in matworths %}
                            Інвентарний номер <br>
                        <input type="text" name="inventory_num" value="{{ matworth.inventory_num }}" class="form-control"><br><br>
                        
                        <div>
                            <select name="id_type" onchange="showNameCh(this.value)">
                                <option disabled selected >Оберіть тип</option>
                                {% for type in types %}
                                    <option value="{{ type.id_type }}">{{ type.name_type }}</option>
                                {% endfor %}
                            </select>
                        </div><br>
                        <div>
                            <select name="id_provider">
                                <option disabled selected >Оберіть постачальника</option>
                                {% for provider in providers %}
                                    <option value="{{ provider.id_provider }}">{{ provider.name_provider }}</option>
                                {% endfor %}
                            </select>
                        </div><br>
                        <div>
                            <select name="id_cab">
                                <option disabled selected >Оберіть кабінет</option>
                                {% for cab in cabs %}
                                    <option value="{{ cab.id_cab }}">{{ cab.num_cab }}</option>
                                {% endfor %}
                            </select></div><br>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                <select name="id_user">
                                    <option disabled selected >Оберіть користувача</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endfor %}
                                </select>

                            </div><br>
                            {% else %}
                                <input type="hidden" name="id_user" class="form-control">
                        {% endif %}
                        Ціна<br /><input type="text" name="price" value="{{ matworth.price }}" class="form-control"><br><br>
                        {% endfor %}
                        <div>
                            <button type="submit" class="btn btn-primary">Редагувати</button>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div id="parentId">
                            <div id="NameCh">
                                <nobr>
                                    <a style="color:red;" onclick="return deleteField(this)" href="#">[—]</a>
                                    <select id="firstch" size="1" name="id_name_ch[1]" style="width:150px;">
                                        <option value="1">Диагональ монитора</option>
                                        <option value="2">Частота процессора</option>
                                        <option value="3">Обьем оперативной памяти</option>
                                    </select>
                                    <input name="value[1]" type="text" style="width:300px;" />  
                                    <a style="color:green;" onclick="return addField()" href="#">[+]</a></nobr>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </fieldset>  
    </form>
    <script>
        var countOfFields = 1; // Текущее число полей
        var curFieldNameId = 1; // Уникальное значение для атрибута name
        var maxFieldLimit = 25; // Максимальное число возможных полей
        function deleteField(a) {
            if (countOfFields > 1)
            {
                // Получаем доступ к ДИВу, содержащему поле
                var contDiv = a.parentNode;
                // Удаляем этот ДИВ из DOM-дерева
                contDiv.parentNode.removeChild(contDiv);
                // Уменьшаем значение текущего числа полей
                countOfFields--;
            }
            // Возвращаем false, чтобы не было перехода по сслыке
            return false;
        }
        function addField() {
            // Проверяем, не достигло ли число полей максимума
            if (countOfFields >= maxFieldLimit) {
                alert("Число полей достигло своего максимума = " + maxFieldLimit);
                return false;
            }
            // Увеличиваем текущее значение числа полей
            countOfFields++;
            // Увеличиваем ID
            curFieldNameId++;
            // Создаем элемент ДИВ
            var div = document.createElement("div");
            // Добавляем HTML-контент с пом. свойства innerHTML
            var options = document.getElementById("firstch").innerHTML;
            //alert(sel);
            div.innerHTML = '<nobr>' +
                    '<a style="color:red;" onclick="return deleteField(this)" href="#">[—]</a>' +
                    '<select size="1" name="id_name_ch[' + curFieldNameId + ']" style="width:150px;">' +
                    options +
                    '</select>' +
                    '<input name="value[' + curFieldNameId + ']" type="text" style="width:300px;" /> ' +
                    '<a style="color:green;" onclick="return addField()" href="#">[+]</a></nobr>';
            // Добавляем новый узел в конец списка полей
            document.getElementById("parentId").appendChild(div);
            // Возвращаем false, чтобы не было перехода по сслыке
            return false;
        }
    </script>

    <script>
        $(document).ready(function () {
            $("select[name='type']").bind("change", function () {
                $.get("countryCheck.php", {country: $("select[name='ch']").val()}, function (data) {
                    data = JSON.parse(data);
                    $("select[name='']").empty();
                    for (var id in data) {
                        $("select[name='']").append($("<option value='" + id + "'>" + data[id] + "</option>"));
                    }
                });
            });
        });

    </script>

{% endblock %}		


