{% extends 'layout.twig' %}

{% block content %} 
                  
  <table width="30%" border="1">
      {% for matworth in matworths %}
      <caption>Детальніше про інв. {{ matworth.inventory_num }}</caption>
            <tbody>
                    <tr><th>Ціна</th>   
                    <td>{{ matworth.price }}</td></tr>
                    <tr><th>Постачальник</th>
                    <td>{{ matworth.name_provider }}</td></tr>
                    <tr><th>Кабінет</th>
                    <td>{{ matworth.num_cab }}</td></tr>
                    <tr><th>Користувач</th>
                    <td>{{ matworth.user_name }}</td></tr>
                {% endfor %}
            </table>
    <table width="30%" border="1"> 
        <caption >Характеристики</caption>
        {% for ch in chs %}    
        <tr><th>{{ ch.name_ch }}</th>
        <td>{{ ch.value }}</td></tr>
        {% endfor %}
            </tbody>             
        </table><br>
            
            
      <a href="{{path('matworths')}}"><-- Повернутися до каталогу</a><a href="{{path('add')}}">Додати --></a>
        
{% endblock %}		


